<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <form action="/download" method="post">
        <label for="url">Enter YouTube Video URL:</label>
        <input type="text" name="url" id="url" required>
        <button type="submit">Download</button>
    </form>
</body>
</html>
